{$DOMAIN} {
	root * /var/www/lab4/dist
	file_server
	encode gzip

	log {
		output file /var/log/caddy/access.log {
			roll_size 10mb
			roll_keep 10
			roll_keep_for 720h
			mode 644
		}
		format json
	}

	header {
		X-Content-Type-Options nosniff
		X-Frame-Options DENY
		Referrer-Policy no-referrer
		Strict-Transport-Security "max-age=31536000"
	}

	handle_errors {
		respond "{http.error.status_code} {http.error.status_text}" {http.error.status_code}
	}
}
