<?xml version="1.0" encoding="UTF-8"?>
<jive>
    <adminConsole>
        <port>{{ADMIN_PORT}}</port>
        <securePort>{{SECURE_ADMIN_PORT}}</securePort>
    </adminConsole>

    <locale>en</locale>

    <connectionProvider>
        <className>org.jivesoftware.database.EmbeddedConnectionProvider</className>
    </connectionProvider>

    <autosetup>
        <run>true</run>
        <locale>en</locale>
        <xmpp>
            <domain>{{DOMAIN}}</domain>
            <fqdn>{{DOMAIN}}</fqdn>
            <auth>
                <anonymous>true</anonymous>
            </auth>
        </xmpp>
        <admin>
            <email>admin@lab.local</email>
            <password>{{ADMIN_PASSWORD}}</password>
        </admin>
        <authprovider>
            <mode>default</mode>
        </authprovider>
        <users>
            <user1>
                <username>{{APP_USER}}</username>
                <password>{{APP_USER_PASSWORD}}</password>
                <name>Lab User</name>
                <email>{{APP_USER}}@lab.local</email>
            </user1>
        </users>
    </autosetup>
</jive>
